.g29KinbkoQ7VBKOY1dy5z {
  height: 170px;
  margin: 0 auto;
  border-bottom: 1px #EEEEEE solid;
  cursor: pointer;
  margin: 16px 0 -16px 0;
  font-weight: bold;
  background-color: white;
}

._2IZngBWefFJ9vjS9dtstHe {
  padding: 0px 0px 0px 0px !important;
}

._16h-cRfjrS3jwkBfySw91u {
  height: 180px;
  width: 180px;
  border-radius: 4px;
  padding: 16px;
}

._2dpT0IO6tx6PGZDNuSK4b_ {
  display: inline-block;
  vertical-align: top;
  margin-top: 48px;
  margin-bottom: -15px;
}
._2dpT0IO6tx6PGZDNuSK4b_ h1 {
  font-size: 24px;
  font-weight: semi-bold;
  margin-bottom: 32px;
}
._2dpT0IO6tx6PGZDNuSK4b_ h2 {
  font-size: 18;
  font-weight: semi-bold;
}

.V-MhpvXjUhk7HrwB9oHMA {
  vertical-align: top;
  display: inline-block;
  margin: 75px 120px 0 0;
  float: right;
  font-weight: lighter;
  white-space: nowrap;
}

@media (max-width: 1420px) {
  ._2dpT0IO6tx6PGZDNuSK4b_ {
    margin-left: 50px;
  }

  .V-MhpvXjUhk7HrwB9oHMA {
    margin-right: 60px;
  }
}
@media (max-width: 1060px) {
  ._2dpT0IO6tx6PGZDNuSK4b_ {
    margin-left: 100px;
  }
}
.gvS43wKyiI5J3KqLX8nXI {
  background-color: #EEEEEE;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: -16px;
}
._3qLS_oADnfvMbfO9U-4gTA {
  display: inline-block;
  margin-left: 15%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  opacity: 0.8;
}
._1pde6mqdRez3K8ONdmmK2R {
  background-color: white;
  padding-top: 32px;
  max-width: 70% !important;
}

._1QeLM4LLT9iP_Cgdk9lVSy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px 0 30px;
}
._1QeLM4LLT9iP_Cgdk9lVSy ._1GxVz_yJ1zDWvpKg-vmKJd {
  font-size: 14px;
}
._1QeLM4LLT9iP_Cgdk9lVSy h2 {
  font-size: 24px;
}
._1QeLM4LLT9iP_Cgdk9lVSy h1 {
  font-size: 46px;
}

._1MUVV83xWB6pC2tPffFirM {
  width: 100%;
}

._3sMEsj4o1h7LevAlsYpuDl {
  margin-top: 100px;
  margin-left: 32px;
  margin-bottom: 32px;
}
._3sMEsj4o1h7LevAlsYpuDl h2 {
  margin-bottom: 32px;
}

._1JMekWBAevEQSmKJd3JjlS {
  max-width: 680px;
  max-height: 500px;
}

._3JM_i6koqWHCpKrjGlbxGC {
  margin-top: 16px;
  margin-bottom: 32px;
  padding-right: 15%;
}

._2ECn6aYsQPmj7dAZNn4j8K {
  margin-bottom: 32px;
}

._1RrQi3uTFv8kWPpYPizkQ0 {
  padding-right: 32px !important;
}

._3VAyliKKSO0-QwXqhxRAzh {
  padding-left: 8%;
}
.PO_hGyXAotoIsqaR5af4a {
  background-color: #FFE600;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.WuGLMe4JbQQm-KH8G9hEK {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

._1JwIKamnHa0RZvVVUcwKHM {
  height: 70%;
  margin-right: 20px;
  cursor: pointer;
}
._3mtE_nlAKqWteKPrdiLPwE {
  width: 65%;
  position: relative;
}

._1imXqbhKlrvIYG8lwk7_oJ {
  background-color: white;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 18px;
  padding-left: 10px;
}

._3Ejfs1dBzwt2JucDgQRNVx {
  position: absolute;
  height: 100%;
  width: 50px;
  top: 0px;
  right: 0px;
  background-color: #EEEEEE;
  cursor: pointer;
}

._23u_lyG-26NkIkXpYeD3YW {
  width: 25px;
  margin: 15px;
}
body {
  margin: 0px;
  background-color: #EEEEEE !important;
  font-style: normal;
  font-weight: 100 !important;
}

._1y-EmQ4FZAwnJSeb3pGNky {
  margin-top: 70px;
  background-color: #EEEEEE;
}

/*# sourceMappingURL=main.css.map*/