.container {
    height: 170px;
    margin: 0 auto;
    border-bottom: 1px #EEEEEE solid;
    cursor:pointer;
    margin: 16px 0 -16px 0;
    font-weight: bold;
    background-color: white;
}

.container-fluid {
    padding: 0px 0px 0px 0px !important;
}

.image {
    height: 180px;
    width: 180px;
    border-radius: 4px;
    padding: 16px;  
}

.details {
    display:inline-block;
    vertical-align: top;
    margin-top:48px;
    margin-bottom:-15px;
    h1 {
        font-size:24px;
        font-weight: semi-bold;
        margin-bottom: 32px;
    };
    h2 {
        font-size:18;
        font-weight: semi-bold;
    }
}

.location {
    vertical-align: top;
    display: inline-block;
    margin: 75px 120px 0 0;
    float: right;
    font-weight: lighter;
    white-space: nowrap;
}

@media (max-width: 1420px) {
    .details {
        margin-left:50px;
    }
    .location {
        margin-right: 60px;
    }
}

@media (max-width: 1060px) {
    .details {
        margin-left:100px;
    }
}