$brandYellow: #FFE600;

.topBar {
    background-color: $brandYellow;
    width: 100%;
    height: 70px;
    position: fixed;
    top:0px;
    z-index: 1;
}

.searchBarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}

.image {
    height:70%;
    margin-right: 20px;
    cursor: pointer;
}